<template>
  <div id="app" class="container">
    <div class="columns is-mobile">
      <div class="column is-one-quarter-fullhd is-one-quarter-mobile">
        <div v-for="image in images" v-bind:key="image.Id">
          <div v-on:click="imageClick(image)" class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  <img
                    :src="`http://104.131.122.192:3001/display?op=thumbnail&w=200&h=300&path=${image.Id}/original/${image.Img_file_name}`"
                    alt="Image"
                  />
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>{{image.Name}}</strong>&nbsp;
                    <small>{{image.Age}}v</small>
                    <br />
                    <small>ph.</small>
                    <strong>{{image.Phone}}</strong>
                    <br />
                    <small>{{image.City}}</small>
                  </p>
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <a class="level-item" aria-label="reply">
                      <span class="icon is-small">
                        <i class="fas fa-reply" aria-hidden="true"></i>
                      </span>
                    </a>
                    <a class="level-item" aria-label="retweet">
                      <span class="icon is-small">
                        <i class="fas fa-retweet" aria-hidden="true"></i>
                      </span>
                    </a>
                    <a class="level-item" aria-label="like">
                      <span class="icon is-small">
                        <i class="fas fa-heart" aria-hidden="true"></i>
                      </span>
                    </a>
                  </div>
                </nav>
              </div>
            </article>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-128x64">
                <img
                  :src="`http://104.131.122.192:3001/display?op=thumbnail&w=200&h=300&path=${headimage.Id}/original/${headimage.Img_file_name}`"
                  alt="Image"
                />
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <br />
                <strong>{{headimage.Name}}</strong>&nbsp;
                <small>{{headimage.Age}}v</small>
                <br />
                <small>ph: </small>
                <div id="bigphonechat">{{headimage.Phone}}</div>
                <br />
                <small>{{headimage.City}}</small>

                <br />
              </div>

              <nav class="level is-mobile">
                <div class="level-left">
                  <a class="level-item" aria-label="reply">
                    <span class="icon is-small">
                      <i class="fas fa-reply" aria-hidden="true"></i>
                    </span>
                  </a>
                  <a class="level-item" aria-label="retweet">
                    <span class="icon is-small">
                      <i class="fas fa-retweet" aria-hidden="true"></i>
                    </span>
                  </a>
                  <a class="level-item" aria-label="like">
                    <span class="icon is-small">
                      <i class="fas fa-heart" aria-hidden="true"></i>
                    </span>
                  </a>
                </div>
              </nav>
            </div>
          </article>
        </div>

        <div>
          <Chat
            :participants="participants"
            :myself="myself"
            :messages="messages"
            :on-message-submit="onMessageSubmit"
            :chat-title="chatTitle"
            :placeholder="placeholder"
            :colors="colors"
            :border-style="borderStyle"
            :hide-close-button="hideCloseButton"
            :close-button-icon-size="closeButtonIconSize"
            :on-close="onClose"
            :submit-icon-size="submitIconSize"
            :load-more-messages="toLoad.length > 0 ? loadMoreMessages : null"
            :async-mode="asyncMode"
          >
            <template v-slot:header>
              <div>{{headimage.Name}}</div>
            </template>
          </Chat>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { uuid } from "vue-uuid";

import { Chat } from "vue-quick-chat";
import "vue-quick-chat/dist/vue-quick-chat.css";

import axios from "axios";

export default {
  name: "app",
  components: {
    Chat
  },
  data() {
    return {
      guuid: "",
      images: "",
      headimage: { Name: "", Id: "", Img_file_name: "" },
      uuid: uuid.v1(),
      visible: true,
      participants: [],
      myself: {
        name: "Minä",
        id: 1
      },
      messages: [],
      chatTitle: "My chat title",
      placeholder: "Odotta viesti..",
      colors: {
        header: {
          bg: "#d30303",
          text: "#fff"
        },
        message: {
          myself: {
            bg: "#fff",
            text: "#bdb8b8"
          },
          others: {
            bg: "#fb4141",
            text: "#fff"
          },
          messagesDisplay: {
            bg: "#f7f3f3"
          }
        },
        submitIcon: "#b91010"
      },
      borderStyle: {
        topLeft: "10px",
        topRight: "10px",
        bottomLeft: "10px",
        bottomRight: "10px"
      },
      hideCloseButton: false,
      submitIconSize: "30px",
      closeButtonIconSize: "20px",
      asyncMode: false,
      toLoad: [
        {
          content: "Hei!",
          myself: true,
          participantId: 1,
          timestamp: new Date(),
          uploaded: true,
          viewed: true
        }
      ]
    };
  },
  mounted() {
    this.guuid = this.getCookie("guuid");
    if (typeof this.guuid === "undefined") {
      // this.$emit("messages", "no cookie");
      this.guuid = uuid.v4();
      this.setCookie("guuid", this.guuid, 900);
    }
    // this.$emit("messages", "cook");
    this.getImages();
  },
  methods: {
    setCookie(cookieKey, cookieValue, expirationDays) {
      let expiryDate = "";

      if (expirationDays) {
        const date = new Date();

        date.setTime(
          `${date.getTime()}${expirationDays || 30 * 24 * 60 * 60 * 1000}`
        );

        expiryDate = `; expiryDate=" ${date.toUTCString()}`;
      }

      document.cookie = `${cookieKey}=${cookieValue ||
        ""}${expiryDate}; path=/`;
    },
    getCookie(cookieKey) {
      let cookieName = `${cookieKey}=`;

      let cookieArray = document.cookie.split(";");

      for (let cookie of cookieArray) {
        while (cookie.charAt(0) == " ") {
          cookie = cookie.substring(1, cookie.length);
        }

        if (cookie.indexOf(cookieName) == 0) {
          return cookie.substring(cookieName.length, cookie.length);
        }
      }
    },
    // onType: function (event) {
    //     //here you can set any behavior

    // },
    loadMoreMessages(resolve) {
      setTimeout(() => {
        resolve(this.toLoad); //We end the loading state and add the messages
        //Make sure the loaded messages are also added to our local messages copy or they will be lost
        this.messages.unshift(...this.toLoad);
        this.toLoad = [];
      }, 1000);
    },
    onMessageSubmit: function(message) {
      // this.$emit("message", message);
      /*
       * example simulating an upload callback.
       * It's important to notice that even when your message wasn't send
       * yet to the server you have to add the message into the array
       */
      if (this.messages.length > 15) {
        this.messages.shift();
      }
      this.messages.push(message);

      this.ansmessageorg = {};

      axios
        .post("https://ippayment.info/v1/api/chat", {
          age: 34,
          chatuuid: this.uuid,
          city: this.headimage.City,
          mob: 0,
          name: this.headimage.Name,
          nguid: this.guuid,
          phone: this.headimage.Phone,
          text: message.content
        })
        .then(response => {
          this.ansmessageorg = response.data;
          // let now = new Date();
          this.ansmessage = {
            content: this.ansmessageorg.Answer,
            myself: false,
            participantId: this.headimage.Id,
            timestamp: new Date()
          };
          // this.$emit("sendmessages", this.ansmessage);
          setTimeout(() => this.messages.push(this.ansmessage), 5000);
        });

      setTimeout(() => {
        message.uploaded = true;
      }, 2000);
    },
    onClose() {
      this.visible = false;
    },
    getImages() {
      axios.get("https://ippayment.info/api").then(response => {
        this.images = response.data;
        this.headimage = this.images[0];
        this.participants.push({
          name: this.images[0].Name,
          id: this.images[0].Id
        });
        var newmess = {
          content: "Hei",
          myself: false,
          participantId: this.images[0].Id,
          timestamp: new Date()
        };
        setTimeout(() => this.messages.push(newmess), 5000);
        setTimeout(() => (this.placeholder = "Kirjoita viesti.."), 5000);
      });
    },
    imageClick: function(event) {
      // this.messages;
      this.uuid = uuid.v1();
      this.placeholder = "Odotta..!!";
      this.headimage = event;

      // this.$emit("messages", event);
      this.participants.push({ name: event.Name, id: event.Id });

      this.$emit("nummessa", this.messages.length);
      // this.messages.pop(this.messages.length);

      // for (let i = 0; i <= this.messages.length + 1; i++) {
      //   this.messages.pop(i);
      // }
      var newmess = {
        content: "Hei",
        myself: false,
        participantId: event.Id,
        timestamp: new Date()
      };

      setTimeout(() => this.messages.push(newmess), 5000);
      setTimeout(() => (this.placeholder = "Kirjoita viesti.."), 5000);
    }
  }
};
</script>

<style>
#app {
  /* font-family: "Avenir", Helvetica, Arial, sans-serif; */
  font-family: "Indie Flower", cursive;
  font-size: 150%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
